.result-item {
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  margin: 16px;
  padding: 16px;
  width: calc(100% - 32px);
}

.flight-details-holder {
  display: flex;
  margin-top: 8px;
}

.flight-details {
  width: 80%;
}

.flight-timings {
  width: 50%;
}

.flight-booking-icon {
  background-color: #dddddd;
  background-image: url('../../images/flight.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  height: 80px;
  margin: auto;
  width: 80px;
}

.flight-booking-holder {
  text-align: center;
}

.book-flight {
  margin: 8px 0 0 0;
}

.flight-price {
  font-size: 24px;
}

.flight-number {
  font-size: 14px;
}

.flight-from-to, .flight-departure-time, .flight-arrival-time {
  padding: 2px 0;
}

.flight-from-to {
  padding-top: 4px;
}

@media screen and (max-width: 1100px) {
  .flight-price {
    font-size: 20px;
  }
  
  .flight-number {
    font-size: 12px;
  }
  
  .flight-from-to, .flight-departure-time, .flight-arrival-time {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .result-item {
    margin: 16px 0;
    width: 100%;
  }

  .flight-booking-icon {
    height: 64px;
    width: 64px;
  }

  .book-flight {
    width: 72px;
  }

  .flight-price {
    font-size: 18px;
  }
  
  .flight-number {
    font-size: 10px;
  }
  
  .flight-from-to, .flight-departure-time, .flight-arrival-time {
    font-size: 12px;
  }
}
